// Typography
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2, h3 {
  font-weight: 900;
}

// Sections
//
// Home Page
.home {
  // Showcase
  &-showcase {
  background-image: url(../images/space-light.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; 
  }

  // Section 2
  &-section-2 {
    background-image: url(../images/milky-way.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
}


// dont use the card deck, use the grid system so i can say how many rows the cards span on diff sizes